body{
    margin:0px;
    width:100vw;
    height:100vh;
}
header{
    width: 100vw;
    height: 12vh;
    background: #FFFFFF;
    display:inline-flex;
}

header p {
    margin-left:150px;
    margin-top:30px;
    font: Bold 20px/28px Helvetica;
    color: #354463;
    opacity: 1;
}

nav ul li{
    margin-left:120px;
    display:inline;
}
nav{
    padding:30px;
    width:700px;
    display:flex;
    justify-content: flex-end;
}

header button{
    margin-top:30px;
    margin-left:50px;
    width: 160px;
    height: 48px;
    border-radius: 100px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
}
.image{
    width:100%;
    height:670px;
    background: transparent url('./images/home.png') 0% 0% no-repeat padding-box;
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
}

.image .whitebox{
    padding-left:100px;
    padding-right:100px;
    position:absolute;
    top:100px;
    left:150px;
    width: 344px;
    height: 416px;
    background-color: aliceblue;
}

.box{
    padding:5px;
    text-align: center;
    width: 100px;
    height: 20px;
    font: Regular 14px/17px Helvetica;
    letter-spacing: 0.56px;
    background-color: black;
    color: white;
}

.image .whitebox p{
    font: Bold 34px/46px Helvetica;
}

.image .whitebox .box{
    position:relative;
    top:-10px;
}
.image-over{
    width:150px;
    position: absolute;
  top: 100px;
  left: 800px;
  font-style: italic;
  font-size: 60px;
  color:white;
  letter-spacing:5.5px;
}

/* border */
.border{
    height:240px;
    display:flex;
}
.lvsdt{
    padding-top:60px;
    padding-left:70px;
    width:200px;
    height:300px;
    text-align: left;
}
.border .box{
    position:relative;
    top:-20px;
    left:600px;
}

.whatwedo{
    background: #354463 0% 0% no-repeat padding-box;
    width: 1440px;
    height: 6520px;
    justify-content: center;
}

.imagebox{
    margin:50px;
    width:300px;
    height:500px;
    background-color: aquamarine;    
}

.image-container{
    display:flex;
    align-items: center;
    
}

.image-container img{
    width:300px;
    height:200px;
}

.image-container .image-text{
    padding:20px;
}
