body, html{
    width:100%;
    height:100%;
    margin:0px;
}
@font-face {
    font-family: myFirstFont;
    src: url(./fonts/flood-std/FloodStd.otf);
  }
  
@media only screen and (min-width: 900px) {

/* HEADER */
header {
    display: grid;
    grid-template-columns: 5vw 25vw 50vw 15vw 5vw;
    grid-template-rows: 100px;;
    grid-template-areas: "spaceleft title nav button spaceright";
}
  
  .spaceleft { grid-area: spaceleft; }
  .title { grid-area: title;  }
  .title p{
        margin-top: 20px;
        margin-left:100px;
        font: Bold 22px/28px Helvetica;
        color: #354463;
  }
  
  nav{ grid-area: nav;}
  .nav ul{ 
    margin-top: 40px;
      display:flex;
      justify-content: space-around; 
      list-style-type: none;

  }

  .button { grid-area: button; }
    .button button{
        margin-top: 20px;
        width: 160px;
        height: 48px;
        border-radius: 100px;
        background: #C1F7D5 0% 0% no-repeat padding-box;        
    }
  .spaceright { grid-area: spaceright; }

/* END */


.image{
    position:relative;
}

.image .img{
    width:100%;
    height:700px;
    background: transparent url('./images/home.png') 0% 0% no-repeat padding-box;
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
    background-size: cover;

}

.image .whitebox{
    padding-left:50px;
    padding-right:50px;
    position:absolute;
    top:100px;
    left:150px;
    width: 344px;
    height: 300px;
    background-color: aliceblue;
}

.box{
    padding:5px;
    text-align: center;
    width: 100px;
    height: 20px;
    font: Regular 14px/17px Helvetica;
    letter-spacing: 0.56px;
    background-color: black;
    color: white;
}

.image .whitebox p{
    font: Bold 34px/46px Helvetica;
}

.image .whitebox .box{
    position:relative;
    top:-10px;
}
.image-over{
    width:150px;
    position: absolute;
    top: 120px;
    left: 900px;
    font-family: myFirstFont;  
    font-style: italic;
    font-size: 60px;
    color:white;
    letter-spacing:5.5px;
}

/* Border */
.border{
    margin-top:40px;
    height:180px;
    display:flex;
}
.learn, .volunter, .share, .donate {
   width:200px;
}
.border .box{
    position:relative;
    top:-50px;
    left:45vw;
}


/* Border */
.border {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "spaceleft learn volunter share donate spaceright";
  }
  
  .learn { grid-area: learn; }
  
  .volunter { grid-area: volunter; }
  
  .share { grid-area: share; }
  
  .donate { grid-area: donate; }


/* Whatwe do */

.whatwedo{
    background: #354463 0% 0% no-repeat padding-box;
    width: 1440px;
    display:flex;
    flex-direction:column;
  }
  .whatwedo .what{
    padding:10px; 
    align-self: left;
    width: 140px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    position:relative;
    top:30px;
    left:150px;
  }
  .whatwedo h1{
    align-self: center;
    width:80%;
    text-align: left;
    font: Bold 44px/56px Helvetica;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }
.imagebox{
    margin:50px;
    width:300px;
    height:550px;
    background-color: white;   
    display:flex; 
    flex-direction:column;
}

.image-container{
    display:flex;
    align-items: center;
    
}

.image-container img{
    width:300px;
    height:200px;
    position:relative;
    top:-30px;
    left:30px;
}
.image-container .image-text {
  padding:30px;
  
}
.whatwedo button {
  align-self: center;
  width: 160px;
  height: 48px;
  background: #C1F7D5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
}


/* Footer */

  footer {
      padding:30px;
      width:100%;
      height:200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footertitle contactus followus learnmore footerscc";
  }
  
  .footertitle { grid-area: footertitle; 
    margin-top:30px;
    font: Bold 22px/28px Helvetica;

}
  
  .contactus { grid-area: contactus;
    width:200px;
    height:100px;
}
  
  .followus { grid-area: followus;

}
  
  .learnmore { grid-area: learnmore; 
}
  
  .footerscc { grid-area: footerscc; 
    margin:30px;
    font-family: myFirstFont;
    font-size:33px;
}
footer .footerlinks{
    width:100px;
    height:100px;
}
  

}

