@media only screen and (max-width: 600px) and (min-width:200px){
    body, html {
     width:100%;
     height:100%;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "title nav" "button button";
      }
      
      .title { grid-area: title; }
      .title p{
            margin-top: 20px;
            font: Bold 18px/22px Helvetica;
            color: #354463;
            display:flex;
            justify-content:center;
      }
    
      .nav { grid-area: nav; }
      
      .nav ul{
            display:block;   
            list-style-type: none;

      }
      nav ul li{
          margin-bottom:10px;
      }
      
      .button { grid-area: button;
            display:flex;
            justify-content: center;
        }
      .button button {
        width: 312px;
        height: 40px;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
      }

      .image {
        width:100%;
        height:700px;
      }
.image .img{
    width:100%;
    height:700px;
    background: transparent url('./images/homemobile.png') 0% 0% no-repeat padding-box;
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
    background-size: cover;
}
.image .whitebox{
  padding-left:4vw;
  padding-right:4vh;
  position:relative;
  top:-60vh;
  left:10vw;
  width: 70vw;
  height: 300px;
  background-color: aliceblue;
}
.box{
  padding:10px;
  text-align: center;
  width: 120px;
  height: 20px;
  font: Regular 14px/17px Helvetica;
  letter-spacing: 0.56px;
  background-color: black;
  color: white;
}
.image .whitebox .box{
  position:relative;
  top:-15px;
  left:15vw;
}

.image .whitebox p {
  font: Bold 22px/28px Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  text-align: center;
}


.image-over{
  width:150px;
  position: absolute;
  top: 250px;
  font-family: myFirstFont;  
  font-style: italic;
  font-size: 60px;
  color:white;
  letter-spacing:5.5px;
}


/* Border */
.border {
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "learn volunter" "share donate";
}

.learn { grid-area: learn; }

.volunter { grid-area: volunter; }

.share { grid-area: share; }

.donate { grid-area: donate; }
.border .box{
  position:relative;
  top:-280px;
  left: 30vw;
}




/* what we do */

.whatwedo{
  height:2000px;
  background: #354463 0% 0% no-repeat padding-box;
  position:relative;
}
.whatwedo .what{
  padding:10px;
  position:absolute;
  top:40px;
  left:25vw;
  width: 140px;
  height: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}
.whatwedo h1{
  text-align: center;
  font: Bold 22px/28px Helvetica;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  position:relative;
  top:100px;
}

.imagebox{
  padding-bottom:120px;
  width: 400px;
  height: 600px;
  background-color: white; 
  margin-bottom:60px;
  align-self: center;
}

.image-container{
  width:500px;
  height:1300px;
  padding:10px;
  margin-top:150px;
  display:flex;
  flex-direction: column;
}

.image-container img{
  /* margin-top:20px; */
  width:300px;
  height:200px;
  position:relative;
  top:-50px;
  left:50px;
}

.image-container .image-text{
  padding: 0 50px;
  width: 250px;
  height: 100px;
  text-align: left;
}

.image-container button{
  width: 152px;
height: 40px;
background: #C1F7D5 0% 0% no-repeat padding-box;
border-radius: 100px;
opacity: 1;


position:relative;
top:80px;
left:100px;
}


/* Footer */
footer{
  width:100%;
  height:600px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: "footertitle contactus" "followus learnmore" "leftspace footerscc";
}

.contactus { grid-area: contactus; }

.footertitle { grid-area: footertitle; 
  padding:40px;
font-size: 23px;
}

.followus { grid-area: followus; }

.learnmore { grid-area: learnmore; }

.leftspace { grid-area: leftspace; }

.footerscc { grid-area: footerscc;
font-family:myFirstFont;
font-size:28px; }




  }