@media only screen and (max-width: 900px) and (min-width:600px) {

html{
    width:100%;
    height:100%;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "title button" "nav spaceright";
  }
  .title { grid-area: title; }
  .title p{
    margin-left: 50px;
    font: Bold 22px/28px Helvetica;
    color: #354463;
    }

  .button { grid-area: button;
    margin-top:30px;
    display:flex;
    justify-content: center;
}
  .button button{
        width: 140px;
        height: 48px;
        border-radius: 100px;
        background: #C1F7D5 0% 0% no-repeat padding-box;              
  }
  .nav { grid-area: nav;
   
    }
  .nav ul{
    display:flex;
    list-style-type: none;
  }
  nav ul li a {
      margin-left: 3vw;
        font: Light 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
       
  }
  .space { grid-area: spaceright; }


/* Section1 */

  .image{
   position:relative;
}
.image .img{
  width:100%;
  height:600px;
  background: transparent url('./images/hometablet.png') 0% 0% no-repeat padding-box;
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
  background-size: cover;
}
.image .whitebox{
  padding-left:50px;
  padding-right:50px;
  position:absolute;
  top:300px;
  left:50px;
  width: 550px;
  height: 250px;
  background-color: aliceblue;
}

.box{
  padding:5px;
  text-align: center;
  width: 100px;
  height: 20px;
  font: Regular 14px/17px Helvetica;
  letter-spacing: 0.56px;
  background-color: black;
  color: white;
  position:relative;
  top:-15px;
}

.image-over{
  width:100px;
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: myFirstFont;  
  font-style: italic;
  font-size: 40px;
  color:white;
  letter-spacing:2.5px;
}

.image .whitebox p{
  margin-top:0px;
  margin-bottom:0px;
  font: Bold 34px/46px Helvetica;
}



/* Border */
.border {
  margin:50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "learn volunter" "share donate";
}

.learn { grid-area: learn; }

.volunter { grid-area: volunter; }

.share { grid-area: share; }

.donate { grid-area: donate; }
.border .box{
  position:relative;
  top:-300px;
  left: 30vw;
}



/* what we do */
/* .whatwedo{
    background: #354463 0% 0% no-repeat padding-box;
    width: 1440px;
    justify-content: center;
}

.imagebox{
    margin:50px;
    width:300px;
    height:500px;
    background-color:white;    
}

.image-container{
    display:flex;
    align-items: center;
    
}

.image-container img{
    width:300px;
    height:200px;
}

.image-container .image-text{
    padding:20px;
} */





.whatwedo{
  background: #354463 0% 0% no-repeat padding-box;
  position:relative;
}
.whatwedo .what{
  padding:10px;
  position:relative;
  top:60px;

  left:50px;
  width: 140px;
  height: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}
.whatwedo h1{
  width:600px;
  text-align: center;
  font: Bold 22px/28px Helvetica;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  position:relative;
  top:100px;
  left:50px;
}

.imagebox{
  width: 700px;
  height: 300px;
  background-color:white; 
  margin-bottom:60px;
  display:flex;
  flex-direction: row;
}

.image-container{
  width:500px;
  height:1300px;
  padding:10px;
  margin-top:100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.image-container img{
  margin-top:20px;
  margin-left:60px;
  width:300px;
  height:200px;
  position:relative;
  top:-60px;
}

.image-container .image-text{
  padding:20px;
  width: 100%;
  
  text-align: left;
}
.imagebox button{
  width: 350px;
  height: 40px;
  background: #C1F7D5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  position:relative;
  top:200px;
  right:360px;
}

/* Footer */
footer{
  padding:50px;
  height: 300px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: "footertitle contactus followus" "leftspace learnmore footerscc";
}

.footertitle { grid-area: footertitle; 
  margin-top:10px;
  font-size: 33px;
}

.contactus { grid-area: contactus;
width:200px;
}

.followus { grid-area: followus; }

.leftspace { grid-area: leftspace; }

.learnmore { grid-area: learnmore; }

.footerscc { grid-area: footerscc;
  font-family: myFirstFont;
  font-size: 34px;;
}

footer .footerlinks{
  width:100px;
  height:100px;
}


}